# Docker
COMPOSE_PROJECT_NAME=pages

# Directus CMS
DIRECTUS_PUBLIC_URL=http://localhost/cms
DIRECTUS_KEY=***
DIRECTUS_SECRET=***
DIRECTUS_MCP_TOKEN=***

# ADU
# MongoDB connection string (e.g. MongoDB Atlas or local)
MONGODB_URI="mongodb://mongo:27017/pages-adu"
# Claude Code Token (`claude setup-token`)
CLAUDE_CODE_OAUTH_TOKEN="***"
# Path of workdir (where the code-repositories live)
WORKDIR=./workdir
# URL to service proxy (used for sandbox)
SERVICE_PROXY_URL=http://localhost
# URL to the documentation unit
DOCS_UNIT_URL=http://host.docker.internal:8082/sse
# Nextjs public basePath
NEXT_PUBLIC_BASE_PATH="/adu"
